#cy {
    width: 95%;
    height: 100%;
    position: relative;
    top: 5%;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border:1px solid black;
}

#initialValues
{
    width:20%;
}